/*
Syntax error: Invalid CSS after "width:": expected pseudoclass or pseudoelement, was "68%"
        on line 140 of sass/main.sass

135:     float:left
136: 
137: #page #central.navLeft  #body
138:     float: right
139:     padding-right: 0px
140:     width:68%
141: 
142: #page #central.noSideNav
143:     background: none
144: #page #central.noSideNav  #sidebar
145:     display: none

Backtrace:
sass/main.sass:140
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1136:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1072:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1054:in `expr!'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:782:in `pseudo'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:666:in `simple_selector_sequence'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:628:in `_selector'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:612:in `selector_comma_sequence'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1053:in `expr!'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:312:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/var/lib/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"width:\": expected pseudoclass or pseudoelement, was \"68%\"\A         on line 140 of sass/main.sass\A \A 135:     float:left\A 136: \A 137: #page #central.navLeft  #body\A 138:     float: right\A 139:     padding-right: 0px\A 140:     width:68%\A 141: \A 142: #page #central.noSideNav\A 143:     background: none\A 144: #page #central.noSideNav  #sidebar\A 145:     display: none"; }
